footer {
    a {
        color: #FFFFFF;
    }

    .top-footer {
        background: #2B2B2B;
        color: #FFFFFF;

        .footer-heading {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
        }

        a.contact-us {
            text-decoration: underline;
        }

        .menu-header {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 20px;
        }

        .menu-lifegoals, .menu-games {
            width: 220px;
        }

        .menu-apps {
            width: 440px;
        }

        .items-wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 680px;

            a {
                padding: 8px 0;
                font-size: 16px;
                width: 150px;
            }
        }
    }

    .bottom-footer {
        background: #323232;
        color: #FFFFFF;

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.28125px;
        }

        .social-links {
            a {
                background: #FFFFFF;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                position: relative;
                margin: 0 12px;

                svg {
                    color: #000000;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .footer-links {
            a {
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                letter-spacing: 0.3px;
                margin: 0 12px;
            }
        }

        span {
            color: #B2B2B2;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.4px;
        }
    }
}

@media (max-width: 767.98px) {
    footer {
        .top-footer {
            .menu-wrapper {
                .items-wrapper {
                    max-height: initial;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    footer {
        .top-footer, .bottom-footer {
            padding-left: 16px;
            padding-right: 16px;
        }

        .top-footer {
            .menu-wrapper {
                flex-direction: column;

                .menu-lifegoals {
                    .items-wrapper {
                        max-height: 320px;
                    }
                }

                .menu-apps {
                    .items-wrapper {
                        max-height: 560px;
                    }
                }
                
                .menu-games {
                    .items-wrapper {
                        max-height: 360px;
                    }
                }

                .menu-lifegoals, .menu-apps, .menu-games {
                    width: 100%;
                }

                .items-wrapper {
                    margin-bottom: 24px;
                }
            }
        }

        .bottom-footer {
            .footer-links {
                flex-wrap: wrap;
                a {
                    width: calc(50% - 24px);
                    margin-bottom: 18px;
                }
            }
        }
    }
}